@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
:root {
  --textColorPrimary: #ffffff;
  --textColorSecondary: #d0d6f9;
  --backgroundColor: #0b0d17;
  --navbarColor: #ffffff1f;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
}
#root {
  height: 100vh;
}

.bellefair {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
